<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="currentName" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="currentSurname" Placeholder="Soyadınız" required="" />
                <input type="text" class="email" name="email" Placeholder="Email" required="" />
                <input type="text" class="phone" name="currentCity" Placeholder="Şehir" required="" />
                <input type="password" class="password" name="password" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> I Accept to the <a href="#">Terms &amp; Conditions</a></label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
